@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* Box-sizing reset (https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/) */
html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

html {
	font-family: "Open Sans", sans-serif;
}
#container {
	width: 80%;
	margin: 0 auto;
}
.tabs {
	border: 1px solid #ccc;
	border-radius: 5px;
	
}
[role="tabpanel"] {
	/* display: none; */
	padding: 20px;
	border-top: 1px solid black;
}

ul li {
	flex: 1;
	text-align: center;
	border-radius: 3px;
}
ul {
	list-style: none;
	padding: 0 0;
	display: flex;
}
li {
	margin-left: 2px;
	margin-right: 2px;
	background-color: lightgray;
	padding: 3px;
}
a {
	display: block;
	text-decoration: none;
	
}
a:hover {
	background-color: white;
}
.active {
	background-color: bisque;
}